
@{
    ViewData["Title"] = "Order has been confirmed";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>

    <p>The order @ViewBag.OrderId has been confirmed and will be proceseed soon</p>

    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

