
@{
    ViewData["Title"] = "Access has been denied!";
}

<div class="container">
    <p class="text-danger">Access has been denied!</p>
    <a asp-controller="Home" asp-action="Index">To Main Page.</a>
</div>

